body {
    padding-top: 140px;
}

.navbar {
    background-color: white;
}

.wrapper, .wrapper2 {
    position: relative;
}

.wrapper:hover, .wrapper2:hover {
    cursor: pointer;  
}

.wrapper .overlay {
    position: absolute;
    top: 50%;
    left: 10%;
    color: white;
    width: 40%;
    opacity: 0;
}

.wrapper2 .overlay {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    width: 60%;
    opacity: 0;
}

.wrapper img, .wrapper2 img {
    transition: 1s ease;
}

.wrapper:hover img, .wrapper2:hover img {
    opacity: 0.9;
    filter: grayscale(70%) brightness(30%) sepia(25%) hue-rotate(10deg) saturate(300%) contrast(0.8);
}

.wrapper:hover .overlay, .wrapper2:hover .overlay {
    opacity: 1;
}

.wrapper:hover h2, .wrapper:hover p, .wrapper2:hover h2, .wrapper2:hover p {
    animation: fade-in 1s;
    transition: ease;
}

.button-animate .btn {
    transition: 1s ease;
}

.btn:hover {
    transform: scale(1.1);
    transition: 1s ease;
}

.form-control:focus {
    border-color: #333333;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 8px rgba(32, 32, 32, 0.6);
}

#info-bullets {
    display: grid;
    grid-template-areas: 
        "bullet1 bullet2"
        "bullet3 bullet4";
}

.bullet1 {
    grid-area: "bullet1";
}

.bullet2 {
    grid-area: "bullet2";
}

.bullet3 {
    grid-area: "bullet3";
}

.bullet4 {
    grid-area: "bullet4";
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@media (max-width: 992px) {
    body {
        padding-top: 90px;
    }
    .main-logo {
        height: 60px;
    }
    .projects-menu ul {
        display: none;
    }
    .projects-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 90vw;
    }
}